/* App.css */

body,
html {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dashboard {
  display: flex;
  flex: 1;
}

.content {
  display: flex;
  flex: 1; /* Fill remaining space */
  
}

/* Add your custom styles for the navbar component here */

/* Navbar styles */
.navbar {
  background-color: #ffffff;
  padding: 10px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.navbar-menu {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.navbar-menu li {
  margin-bottom: 15px;
}

.navbar-menu li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: transform 0.2s;
}

.navbar-menu li a:hover {
  transform: scale(1.1);
}

.navbar-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  transition: transform 0.3s;
}

.navbar-icon:hover {
  transform: scale(1.2);
}

.navbar-icon:hover::after {
  content: attr(alt);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar-menu li {
    margin-bottom: 5px; /* Reduce spacing between menu items */
  }

  .navbar-icon {
    width: 30px; /* Decrease width of logos */
    height: 30px; /* Decrease height of logos */
  }
}

/* Add your custom styles for the sidebar component here */

.sidebar {
  width: 300px; /* Adjust width as needed */
  height: 500px; /* Occupy full height of its container */
  background-color: #f0f0f0; /* Example background color */
  /* Add any other necessary styles */
}

.sidebar-header {
  padding: 10px;
  background-color: #ccc; /* Example background color */
}

.sector-list {
  max-height: calc(
    100% - 100px
  ); /* Adjust max height to leave space for header and footer */
}

.sector {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd; /* Example border style */
}

.selected-sector-info {
  padding: 10px;
  background-color: #eaeaea; /* Example background color */
}

/* Add any other necessary styles */

.main-content {
  padding: 5px;
  flex-grow: 1;
  
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  color: #26349c;
  margin-right: auto;
  display: flex; /* Align items horizontally */
  align-items: center; /* Center items vertically */
}

/* Adjust the logo size */
.system-logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.header-profile {
  display: flex;
  align-items: center;
}

.profile-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.profile-name {
  font-weight: bold;
}
.system-logo {
  width: 40px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add any additional styling */
}
.header-profile {
  display: flex;
  align-items: center; /* Align items vertically */
}

.profile-icon {
  width: 30px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  margin-right: 10px; /* Spacing between icon and name */
}

.profile-name {
  font-weight: bold; /* Bold font for the user's name */
  /* Additional styles for the user's name */
}

.notification-icon {
  width: 30px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  margin-right: 10px; /* Spacing between notification icon and profile icon */
}

.main-content {
  border: 2px solid #ccc; /* Example border style */
  border-radius: 0px; /* Optional: Add border radius for rounded corners */
}
