/* App.css */

.dashboard {
  display: flex;
  flex-direction: column;
 
}

.content {
  display: flex;
  /* Fill remaining space */
}

.navbar {
  background-color: #333; /* Navbar background color */
  color: white; /* Navbar text color */
  width: 4%; /* 25% of the viewport width */
}

.sidebar {
  background-color: #f4f4f4; /* Sidebar background color */
  
  width: 300px; /* Adjust as needed */
}

.main-content {
  padding: 10px;
  flex-grow: 1;
}

/* Header styles */
.header {
  background-color: #333; /* Background color of the header */
  color: white; /* Text color of the header */
  margin-top: 0%;/* Padding around the header content */
  
  width:1330px; 
  height: 30px;/* Center-align the text */
}


