/* index.css */


.dashboard {
  
  flex-direction: row; /* Change to row to align components horizontally */
  height: 100vh; /* Adjusts to full viewport height */
}





.navbar-menu {
  list-style-type: none;
  padding: 0;
}

.navbar-menu li {
  margin-bottom: 10px;
}

.navbar-menu li a {
  color: #efe3e3; /* Sidebar menu link color */
  text-decoration: none;
}

.navbar-menu li a:hover {
  text-decoration: underline;
}


/* index.css */

.navbar-logo {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add spacing between logo and menu items */
}
/* Add styles for header */
