/* Add your custom styles for the map component here */

#map {
  position: fixed; /* Ensure the map container has a position */
  width: 600px;
  height: calc(100vh - 100px);
}

.coordinates-display {
  font-size: 14px;
  height: 10px;
}

.leaflet-control-geocoder.leaflet-bar {
  margin-top: 10px;
  background: white;
  
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

#search-container {
  margin-top: 10px;
}

/* Add styles for the modal */
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
 
}

.ReactModal__Content {
  position: absolute;
  top: 50%; /* Center the modal vertically */
  left: 50%; /* Center the modal horizontally */
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
}

/* Ensure that map doesn't block interaction with the modal */
.modal-open #map {
  pointer-events: none;
}
.red-border {
  stroke: red !important;
  stroke-width: 3px;
}

.sector-tooltip {  /*Displays sector name on hovering the cursor*/
  background-color: white;
  border: 1px solid #999;
  padding: 6px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: bold;
}

/* CSS for Leaflet popups */
.leaflet-popup-content-wrapper {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.leaflet-popup-tip-container {
  display: none; /* Hide the default Leaflet popup arrow */
}

